
@using Microsoft.AspNetCore.Identity
@using EiadaClinic.Models.Singleton

@inject SignInManager<EiadaUser> SignInManager
@inject UserManager<EiadaUser> UserManager
@inject ActiveUser _activeUser


<title>Hello, world!</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- Material Kit CSS -->
<link href="~/dashboard/assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />



<li class="nav-item@("Doctors".Equals(ViewBag.Action) ? " active" : "")">
    <a class="nav-link" asp-action="Doctors">
        <i class="material-icons">dashboard</i>
        <p>Doctors</p>
    </a>
</li>
<li class="nav-item@("Assistants".Equals(ViewBag.Action) ? " active" : "")">
    <a class="nav-link" asp-action="Assistants">
        <i class="material-icons">dashboard</i>
        <p>Assistants</p>
    </a>
</li>
<li class="nav-item@("InsuranceCompanies".Equals(ViewBag.Action) ? " active" : "")">
    <a class="nav-link" asp-action="InsuranceCompanies">
        <i class="material-icons">dashboard</i>
        <p>Companies</p>
    </a>
</li>
<li class="nav-item@("Messages".Equals(ViewBag.Action) ? " active" : "")">
    <a class="nav-link" asp-action="Messages">
        <i class="material-icons">dashboard</i>
        <p>Messages and Reminders</p>
    </a>
</li>