/* Color Pallete: https://color.adobe.com/Copy-of-Flat-UI---CORAL-color-theme-8554063/edit/?copy=true

Dark-Blue   : #2C3E50
Pink        : #E74C5B
Off-White   : #ECF0F1
Baby-Blue   : #3498DB
Blue        : #2980B9
*/


* {
    font-size: 16px;
    font-family: font-main;
}

body {
    padding-top: 50px;
    background-image: url(https://subtlepatterns.com/patterns/tileable_wood_texture.png);
}
.treatment{
    color: seagreen;
    text-align: left;
    font-family: "Trebuchet MS", Verdana,fantasy;
}









.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
   

}





body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}


input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

    /* When the input field gets focus, change its width to 100% */
    input[type=text]:focus{
        width: 100%;
        border-color:forestgreen;
    }


.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
    background-color:green;
    border-color:green;
    color:white;
}

    .btn-group .btn:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: green;
   
        border-color: green;
        color: white;
    }

.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color:lightgreen;
    border-color:green;
    color:white;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }

    .dropdown.dropdown-lg {
        position: static !important;
    }

        .dropdown.dropdown-lg .dropdown-menu {
            min-width: 500px;
        }
}

/* Accordion Styles */



.allacc {
    padding : 5em;
    

}

.accordion {
    width: 85%;
    margin: 0 auto;
    border: 1px solid thick;
    padding: 0.5em;
    float:left;
    left:500px;
}

/* Button Styles */
.accordion-btn {
    background-color: green;
    font-size: 1.5em;
    color : white;
    cursor: pointer;
    padding: 1em;
    width: 100%;
    text-align: left;
    border: none;
    transition: 0.5s;
}

    .accordion-btn:after {
        content: '+';
        font-size: 1em;
        color: white;

        float: right;
        margin-left: 5px;
    }

    /* Active and Hover Button Styles */
    .accordion-btn.active,
    .accordion-btn:hover {
        background-color: lightgreen;

    }

        .accordion-btn.active:after {
            content: "-";
        }

/* Panel Styles */
.panel {
    background-color:inherit;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;

}


    .panel p {
        font-size: 1.2em;
        padding: 0 2em;
       
    }

    /* Show Panel onclick */
    .panel.show {
        display:contents;
 
        max-height: 500px;
    }

/* Inner Accordion Style */
.inner-accord {
    background-color: green;
    font-size: 1.2em;

    padding: 0.5em;
}

    .inner-accord.active,
    .inner-accord:hover {
        background-color: lightgreen;

    }


