@model EiadaClinic.Models.BindingModels.InsuranceCompanyCreationBindingModel

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Edit Company</h4>
            </div>
            <div class="card-body">
                <form asp-action="EditCompany">
                    <input asp-for="Id" type="hidden" value="@Model.Id" />
                    <input asp-for="Password" type="hidden" value="123qweASD!" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="UserName" class="bmd-label-floating"></label>
                                <input asp-for="UserName" class="form-control">
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name" class="bmd-label-floating"></label>
                                <input asp-for="Name" class="form-control">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Email" class="bmd-label-floating"></label>
                                <input asp-for="Email" class="form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="PhoneNumber" class="bmd-label-floating"></label>
                                <input asp-for="PhoneNumber" class="form-control">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Fax" class="bmd-label-floating"></label>
                                <input asp-for="Fax" class="form-control">
                                <span asp-validation-for="Fax" class="text-danger" disabled></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Address" class="bmd-label-floating"></label>
                                <input asp-for="Address" class="form-control">
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn col-md-2 btn-primary pull-right">Save</button>
                    <button asp-action="InsuranceCompanies" class="btn col-md-2 btn-danger pull-right">Discard</button>
                </form>
            </div>
        </div>
        <a asp-action="InsuranceCompanies">Back to List</a>
    </div>
</div>
