@model EiadaClinic.Models.Doctor

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Doctor Details</h4>
            </div>
            <div class="card-body">
                <form method="get">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="User.UserName" class="bmd-label-floating"></label>
                                <input asp-for="User.UserName" class="form-control" disabled>
                                <span asp-validation-for="User.UserName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="User.FirstName" class="bmd-label-floating"></label>
                                <input asp-for="User.FirstName" class="form-control" disabled>
                                <span asp-validation-for="User.FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="User.MiddleName" class="bmd-label-floating"></label>
                                <input asp-for="User.MiddleName" class="form-control" disabled>
                                <span asp-validation-for="User.MiddleName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="User.LastName" class="bmd-label-floating"></label>
                                <input asp-for="User.LastName" class="form-control" disabled>
                                <span asp-validation-for="User.LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="User.PhoneNumber" class="bmd-label-floating"></label>
                                <input asp-for="User.PhoneNumber" class="form-control" disabled>
                                <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="User.Gender" class="bmd-label-floating"></label>
                                <input asp-for="User.Gender" class="form-control" disabled>
                                <span asp-validation-for="User.Gender" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="User.Birthday" class="bmd-label-floating"></label>
                                <input asp-for="User.Birthday" class="form-control" disabled>
                                <span asp-validation-for="User.Birthday" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="User.Email" class="bmd-label-floating"></label>
                                <input asp-for="User.Email" class="form-control" disabled>
                                <span asp-validation-for="User.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="User.Address" class="bmd-label-floating"></label>
                                <input asp-for="User.Address" class="form-control" disabled>
                                <span asp-validation-for="User.Address" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Specialty" class="bmd-label-floating"></label>
                                <input asp-for="Specialty" class="form-control" disabled>
                                <span asp-validation-for="Specialty" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="OpenTime" class="bmd-label-floating"></label>
                                <input asp-for="OpenTime" class="form-control" disabled>
                                <span asp-validation-for="OpenTime" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="CloseTime" class="bmd-label-floating"></label>
                                <input asp-for="CloseTime" class="form-control" disabled>
                                <span asp-validation-for="CloseTime" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <button asp-action="EditDoctor" asp-route-id="@Model.Id" class="btn col-md-2 btn-primary pull-right">Edit</button>
                </form>
                <form method="post">
                    <button asp-action="DeleteDoctor" asp-route-id="@Model.Id" class="btn col-md-2 btn-danger pull-right">Delete</button>
                </form>
            </div>
        </div>
        <a asp-action="Doctors">Back to List</a>
    </div>
</div>

