@model IEnumerable<Clinic.Models.Appointment>

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Patient</title>
</head>
<body>
    <h1>Doctor Appointments View</h1>
</body>
</html>